@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-50: 207deg 100% 94%;
    --color-primary-100: 207deg 100% 86%;
    --color-primary-200: 206deg 100% 76%;
    --color-primary-300: 204deg 100% 64%;
    --color-primary-400: 201deg 100% 50%;
    --color-primary-500: 205deg 100% 50%;
    --color-primary-600: 209deg 100% 50%;
    --color-primary-700: 213deg 100% 50%;
    --color-primary-800: 216deg 98% 47%;
    --color-primary-900: 230deg 75% 46%;
    --color-secondary: 111, 114, 185;
    /* ... */
  }
}

.fade-in {
    transition: opacity .5s ease-in-out, margin-top .5s ease-in-out;
    animation: fade-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        margin-top: 200px;
    }
    100% {
        
        margin-top: 0px;
        opacity: 1;
    }
}

.fade-out {
    transition: opacity .5s ease-in-out, margin-top .5s ease-in-out;
    animation: fade-out;
}

@keyframes fade-out {
    0% {
        margin-top: 0px;
        opacity: 1;
    }
    100% {
        
        opacity: 0;
        margin-top: 200px;
    }
}

#cloud-bubble-a {
    animation: cloud-bubble-a-hover 4s cubic-bezier(.6,0,.62,1) infinite;
}

#cloud-bubble-b {
    animation: cloud-bubble-b-hover 4s cubic-bezier(.47,0,.52,1) infinite;
}

#cloud-bubble-c {
    animation: cloud-bubble-c-hover 4s cubic-bezier(.38,0,.4,.99) infinite;
}

@keyframes cloud-bubble-hover {
    from { transform: rotate(0deg) translateX(5px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(5px) rotate(-360deg); }
}

#cloud-bubble-main {
    animation: cloud-bubble-main-hover 4s cubic-bezier(.6,0,.62,1) infinite;
}

@keyframes cloud-bubble-main-hover {
    0% { 
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes cloud-bubble-a-hover {
    0% { 
        transform: translate(-10px, 0px);
    }
    50% {
        transform: translate(-10px, 10px);
    }
    100% {
        transform: translate(-10px, 0px);
    }
}

@keyframes cloud-bubble-b-hover {
    0% { 
        transform: translate(-15px, 0px);
    }
    50% {
        transform: translate(-15px, 10px);
    }
    100% {
        transform: translate(-15px, 0px);
    }
}

@keyframes cloud-bubble-c-hover {
    0% { 
        transform: translate(-20px, 0px);
    }
    50% {
        transform: translate(-20px, 10px);
    }
    100% {
        transform: translate(-20px, 0px);
    }
}
