* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --primary-color: #46e3d9;
    --secondary-color: #0072ff;
  }
  
  .container {
    color: var(--color);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  
  .right {
    text-align: right;
    width: 100%;
  }
  
  .stack {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .stack span {
    grid-row-start: 1;
    grid-column-start: 1;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 var(--primary-color), 2px -3px 0 var(--secondary-color);
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 var(--primary-color), -2px 3px 0 var(--secondary-color);
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 var(--primary-color), 2px -3px 0 var(--secondary-color);
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 var(--primary-color), -2px 3px 0 var(--secondary-color);
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }